<h1>Hello <%= user.name %></h1>
<p style="color: red">your account is created succesfully</p>

<h1>Account Activation</h1>
<p>Please click the following link to activate your account: </p>
<a href="${activationLink}">${activationLink}</a>
